* {
    /* margin: 3px; */
    font-size: 1vw;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

#time {
    color: whitesmoke;
    float: right;
    position: absolute;
    right: 2%;
    bottom: 2%;
    font-size: 2em;
}

body {
    background-color: rgb(240, 240, 240);
    background-repeat: repeat;
    margin: 0;
}

h1 {
    margin: 0;
    margin-left: 1%;
    font-size: 2vw;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

th, td {
    text-align: center;
}

th {
    font-size: 0.9em;
}

#v12.v12-on {
    background: rgb(51, 255, 0);
    color: rgb(0, 0, 0);
    font-family: calibri;
    text-transform: uppercase;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}

#v12.v12-off {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    font-family: calibri;
    text-transform: uppercase;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}

/* Grid___________________Grid____________________Grid */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "wrapper";
}

.grid-container {
    display: grid;
    grid-gap: 1%;
    grid-area: wrapper;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "CCData Plots Plots PlotButtons" "PLCControls PLCControls MiscButtonsMain MiscButtonsMain";
    padding-bottom: 2%;
}

.areaColor {
    background-image: radial-gradient(rgb(255, 255, 255), rgb(62, 68, 62));
    background-repeat: no-repeat;
    transition: 300ms ease-in-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.50);
}

.grid-container>div:not(.header):not(.PlotsMain):hover {
    background-image: none;
    background-color: rgb(184, 184, 184);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    margin: 1px;
    border: 2px rgb(35, 66, 0) solid;
}

.Tabs>div:hover {
    background-image: radial-gradient(rgb(114, 114, 114), rgb(0, 0, 0));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    /* margin: 1px; */
    border: 2px rgb(184, 184, 184) solid;
}

.header {
    background-image: radial-gradient(rgb(68, 68, 68), black);
    grid-area: header;
    text-align: left;
    position: relative;
    margin-bottom: 1%;
}

.header>img {
    filter: invert(100%);
    width: 500px;
    height: 80px;
    margin: 1%;
}

.CCData {
    grid-area: CCData;
}

.CCData div table {
    margin: auto;
    margin-bottom: 8%;
    width: 95%;
    height: 50px;
    table-layout: fixed;
    align-self: center;
}

.CCDataState {
    display: inline-flex;
    margin-left: 5%;
    margin-top: 30%;
    /* background: tomato; */
    vertical-align: middle;
    font-size: 1.1em;
    font-weight: bold;
    color: whitesmoke;
}

.ActiveCCData {
    margin-left: 5%;
    margin-top: 30%;
    height: 20px;
    width: 20px;
    float: left;
    background: rgb(18, 168, 13);
    border: 1px black solid;
}

.InActiveCCData {
    margin-left: 5%;
    margin-top: 30%;
    height: 20px;
    width: 20px;
    float: left;
    background: rgb(255, 0, 0);
    border: 1px rgb(0, 0, 0) solid;
}

.CCData button {
    margin: auto;
    margin-left: 5%;
    margin-top: 5%;
    display: block;
}

.PlotsMain {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "XHR" "subPlot";
    grid-area: Plots;
}

.subPlots {
    /* display: block; */
    grid-area: subPlots;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.XHR {
    grid-area: XHR;
    text-align: left;
    border: 2px solid black;
    margin: 5% 2%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#intervalInput, #ClearInterval, #StartInterval {
    vertical-align: middle;
}

#RequestTime {
    float: left;
    width: 17%;
}

.ActivePlot {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-left: 2%;
    vertical-align: middle;
    background: rgb(18, 168, 13);
    border: 1px black solid;
}

.InActivePlot {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-left: 2%;
    vertical-align: middle;
    background: rgb(255, 0, 0);
    border: 1px rgb(0, 0, 0) solid;
}

#plotSettings {
    float: right;
}
.hidden{
    display: none;
}
.PlotButtons {
    grid-area: PlotButtons;
    float: left;
}

.PlotButtonInActive {
    transition: background-color 150ms linear;
    width: 60%;
    margin-top: 2%;
    padding: 2% 5%;
    background-color: rgb(255, 255, 255);
}

.PlotButtonInActive:hover, .PlotButtonActive {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 60%;
    margin-top: 2%;
    padding: 2% 5%;
}

.PlotButtons div {
    text-align: center;
}

.PLCControls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "PLCControls1 PLCControls2";
    grid-area: PLCControls;
}

.PLCControls h1 {
    grid-area: header;
    margin-bottom: 2%;
}

.PLCControls input {
    width: 30%;
}

.PLCControls1 {
    grid-area: PLCControls1;
}

.PLCControls2 {
    grid-area: PLCControls2;
}

.TagsState {
    display: inline-flex;
    margin-left: 5%;
    margin-top: 10%;
    /* background: tomato; */
    vertical-align: middle;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.ActiveTags {
    margin-left: 5%;
    margin-top: 10%;
    height: 20px;
    width: 20px;
    float: left;
    background: rgb(18, 168, 13);
    border: 1px black solid;
}

.InActiveTags {
    margin-left: 5%;
    margin-top: 10%;
    height: 20px;
    width: 20px;
    float: left;
    background: rgb(255, 0, 0);
    border: 1px rgb(0, 0, 0) solid;
}

.InActiveTags+button, .ActiveTags+button {
    margin: auto;
    margin-left: 5%;
    margin-top: 5%;
    display: block;
}

.MiscButtonsMain {
    grid-area: MiscButtonsMain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "Tabs Tabs" "MiscButtons MiscButtons";
    /* background: tomato; */
}

.Tabs {
    height: 4em;
    grid-area: Tabs;
}

.Tab1 {
    background-image: radial-gradient(rgb(56, 56, 56), black);
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
    padding-top: 2%;
    float: left;
    height: 100%;
    width: 50%;
    margin-bottom: 2%;
    border-right: 1px #ccc solid;
    border-collapse: collapse;
}

.Tab2 {
    background-image: radial-gradient(rgb(56, 56, 56), black);
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
    padding-top: 2%;
    float: left;
    height: 100%;
    width: 50%;
    border-left: 1px #ccc solid;
    border-collapse: collapse;
}

.MiscButtons {
    grid-area: MiscButtons;
}

.MiscButtonsMain div a {
    width: 20%;
    margin: 1%;
    float: left;
    font-size: 1.3vw;
    height: 3vw;
    border: 2px black solid;
    transition: background-color 100ms linear;
    text-align: center;
}

.download {
    background-color: darkorange;
    text-decoration: none;
    color: black;
}

.MiscButtonsMain div a:hover {
    background-color: rgb(255, 208, 0);
}

.MiscButtonsMain div #v12:hover {
    background-color: rgb(255, 208, 0);
}

input {
    font-size: 1em;
}

input::-webkit-input-placeholder {
    font-size: 1em;
}

.TestInfo {
    grid-area: MiscButtons;
    padding-top: 2%;
}

.TestInfo fieldset {
    margin: auto;
    width: 90%;
}

.TestInfo fieldset legend {
    font-size: 1.5em;
}

.TestInfo input, textarea {
    width: 100%;
    padding: 1% 1%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitted {
    width: 90%;
    margin: auto;
}

.submitted p {
    width: 90%;
    margin: 3% 2%;
}