* {
    margin: 3px;
    font-size: 1vw;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 2vw;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

#v12.v12-on {
    background: rgb(51, 255, 0);
    color: rgb(0, 0, 0);
    font-family: calibri;
    display: block;
    text-transform: uppercase;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}

#v12.v12-off {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    font-family: calibri;
    display: block;
    text-transform: uppercase;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.download {
    padding: 1%;
    background: rgb(15, 170, 28);
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}

/* Grid___________________Grid____________________Grid */

.grid-container {
    background-image: linear-gradient(white, rgb(0, 0, 0));
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "header header header header" "CCData Plots Plots PlotButtons" "PLCControls PLCControls MiscButtons MiscButtons"
}

.header {
    background-image: radial-gradient(rgb(51, 51, 51), black);
    grid-area: header;
    text-align: left;
}

.header>img {
    filter: invert(100%);
    width: 500px;
    height: 80px;
    margin: 1%;
}

.CCData {
    background-image: linear-gradient(white, rgb(0, 238, 255));
    background-repeat: no-repeat;
    grid-area: CCData;
}

.CCData div table {
    height: 50px;
}

.CCData th {
    width: 100%;
}

.Plots {
    background-image: linear-gradient(white, rgb(18, 227, 241));
    background-repeat: no-repeat;
    grid-area: Plots;
}

.PlotButtons {
    background-image: linear-gradient(white, rgb(101, 211, 219));
    background-repeat: no-repeat;
    grid-area: PlotButtons;
    float: left;
    width: 100%;
}

.PlotButtons button {
    width: 60%;
    margin-top: 2%;
}

.PlotButtons div {
    text-align: center;
}

.PLCControls {
    background-image: linear-gradient(white, rgb(0, 238, 255));
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "PLCControls1 PLCControls2";
    grid-area: PLCControls;
}

.PLCControls1 {
    grid-area: PLCControls1;
}

.PLCControls2 {
    grid-area: PLCControls2;
}

.MiscButtons {
    background-image: linear-gradient(white, rgb(0, 238, 255));
    background-repeat: no-repeat;
    grid-area: MiscButtons;
}

.MiscButtons div a {
    width: 20%;
    margin: 1%;
    float: left;
    font-size: 1.4vw;
    height: 3vw;
}

/* Grid_^^^^^^^^^^^^^^^^^^_Grid_^^^^^^^^^^^^^^^^^^^^^^^^_Grid */